
#st-form-wrapper{
    display:none;
}

#st-form{
    width:26em;
}

.provider-section, .email-section, .username-section{
    margin-top:1em;
}
.st-provider{
    width:22em;
}

#btn-submit{
    margin-top: 1em;
}

.stlp-success-message{
    display:none;
    color:green;
    margin-left: 2em;
}

.stlp-error {
    display:none;
    color:red;
}

#st-form input.error ~ .stlp-error {
    display: block;
}




